append scripts
  script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDHSbQgCEe1R2Qi3QG5NN6hkvJnkBMiL3E&sensor=false')
  script(type='text/javascript', src='javascripts/pksoverlay.js')
  script(type='text/javascript', src='javascripts/maps.js')
  script
    $(function() {
      initialize();
      if('#{project}') {
        var project = !{JSON.stringify(project)};
        show(project);
      }
      console.log('ddd')
      google.maps.event.addListener(document.getElementById('slider'), 'load', function() {
        alert('lololo');
        //$('#slider').anythingSlider();
      });
    });  
block content
  div#map_canvas
