prepend content
  div(class='container', id='navigation')
    each project in projects
      div.project
        a(href='/' + project.id)
          img.navigation(title= project.name, alt= project.name, src= project.imgs[0].src_)
