#navigation
 clear: both
 height: 58px
 //margin-bottom: -58px
 background: -webkit-linear-gradient(top, #2E2E2E, #696868)
 background: -moz-linear-gradient(top, #2E2E2E, #696868)
 opacity: 1

#map_canvas
  display: block
  position: absolute
  top: 58px
  left: 0
  width: 100%
  height: 100%

.project
  float: left

img.navigation
  max-height: 50px
  margin: 4px

  .hover
    margin: 0px
    max-height: 58px

.marker_container
	max-width: 500px

.marker_right
	float: right
	width: 30%

.marker_left
	float: left
	width: 70%
